# Dependencies
node_modules

# Build output
dist
build
*.tsbuildinfo

# Env files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Tests
coverage

# Prisma
prisma/*.db
